*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: aquamarine;
}

.app-wrapper > h1 {
    font-size: 50px;
    margin: 5px;
}

.app-input {
    display: flex;
    margin: 20px;
    flex-direction: column;
}
.app-input > h2 {
    margin: 10px;
    font-size: 35px;
}

#add-task { 
    width: inherit;
    margin: 10px;
    flex: 1 1 auto;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(102, 6, 81);
}

#list {
    margin: 10px;
    padding: 10px;
}

li {
    list-style: none;
    margin: 3px;
    padding: 5px;
}

li > input {
    margin: 5px;
}
.delete-button {
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
}

.task {
    padding: 2px 0 0 0;
}